<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OH Queue</title>
  </head>
  <body>
    <h1> Login to the OH Queue Homies </h1>
    
    <%if (error != null) { %>
    <font color="red"><%= message %><p>
    <% } %>
    <font color="black">
    
    <form action="/checkLogin" method="post">
    	<b>Username here boi:</b> <br>
      <input type="text" name="username"> <br>
      <b>yo password here fam:</b> <br>
      <input type="password" name="password"> <br>
      <input type="submit" value="Login">
    </form>
    <p> Create an account ting <a href = 'http://localhost:8080/signup'> here </a></p>
  </body>
</html>