<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
    <meta charset="UTF-8">
    <title>OH Queue</title>
  </head>
  <body>
  <div class="container text-center">
    <div class="jumbotron">
    <h1> Login to the OH Queue Homies </h1>
    
    <%if (error != null) { %>
    <font color="red"><%= error %><p>
    <% } %>
    <font color="black">
    
    </div>
  </div>
  <div class="col-xs-4 text-center col-sm-offset-4">
    <form action="/checkLogin" method="post" class="form-signin">
      <label for="usernamefield" class="sr-only">username: </label>
      <input type="text" name="username" id="usernamefield" placeholder="username" class="form-control"> <br> 
      <label for="passwordfield" class="sr-only">Password: </label>
      <input type="password" name="password" id="passwordfield" placeholder="password" class="form-control"> <br>
      <input type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block">
    </form>
    </br>
    <p> Create an account ting <a href = 'http://localhost:8080/signup'> here </a></p>
  </div>
  </body>
</html>