<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OH Queue</title>
  </head>
  <body>
    <h1> Welcome to the Q </h1>
    //gotta figure out some Socket IO stuff here to make it realtime still
    //will just allow us to update a table here 
  </body>
</html>