<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>OH Queue</title>
  </head>
  <body>
    <h1> Make a new account kiddo </h1>
    <form action="/createAccount" method="post">
    	<b>New username here boi:</b> <br>
      <input type="text" name="username"> <br>
      <b>New password here fam:</b> <br>
      <input type="password" name="password"> <br>
      <b>What's your fullname mate:</b> <br>
      <input type="text" name="fullname"> <br>
      <b> Instructor?
      <input type="checkbox" name="instructor" id="isInstructor"> 
       Instructor password: </b>
      <input type="text" name="instructorPass"> 
      <br/>
      <input type="submit" value="Submit">
    </form>
    <p> Create an account ting <a href = 'http://localhost:8080/signup'> here </a></p>
  </body>
</html>